<% include ./partials/header %>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 10px;
  padding: 6px 20px 6px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 6px;
  color:black;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>

<h1><%=employeename.name%></h1>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Date.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:25%;">Date</th>
    <th style="width:25%;">Clock In</th>
    <th style="width:25%;">Clock Out</th>
    <th style="width:25%;">Working Time</th>
  </tr>
  <%result.forEach((item)=>{%>
    <%if((item.clockin_time)){%>
      <tr>
        <td><%=item.date%></td>
        <td><%=item.clockin_time.slice(0,5)%></td>
        <td>X</td>
      </tr>

    <%}else{%>
      <tr>
        <td><%=item.date%></td>
        <td>X</td>
        <td><%=item.clockout_time.slice(0,5)%></td>
        <td><%=item.workingtime%> HOURS</td>

      </tr>

    <%}%>
  <%})%>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
